body,
    html {
        height: 100%;
        margin: 0;
    }

    .bgimg {
        background-image: url('../img/bg.jpeg');
        height: 100%;
        background-position: center;
        background-size: cover;
        position: relative;
        color: white;
        font-family: "Courier New", Courier, monospace;
        font-size: 25px;
    }

    .topleft {
        position: absolute;
        top: 0;
        left: 16px;
    }

    .bottomleft {
        position: absolute;
        bottom: 0;
        left: 16px;
    }

    .middle {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }

    hr {
        margin: auto;
        width: 40%;
    }

    h1 {
        text-align: center;
        color: white;
        font-size: 4em;
        font-family: "Courier New", Courier, monospace;
    }

    .info {
        text-align: center;
        color: white;
        font-size: 1.5em;
        font-family: "Courier New", Courier, monospace;
        font-weight: 900;
    }

    .logo {
        margin: 25px;
        width: 100px;
        height: auto;
    }

    #inf {
        font-size: 1.3em;
    }